https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
numpy
vaderSentiment
pandas
pyemd==0.5.1 
networkx==2.4
PDPbox==0.2.0
xgboost==0.90
Werkzeug==1.0.1
shap==0.34.0
scipy==1.4.1
plotly==4.1.1
matplotlib==3.1.1
seaborn==0.10.0
streamlit==0.69
Pillow==7.2.0
scikit_learn==0.22.2.post1
statsmodels==0.11.0
eli5==0.10.1
lightgbm==2.3.1
gensim
spacy
altair==4.1.0
textblob==0.15.3
nltk
statsmodels==0.11.0
sklearn2pmml
lime
